.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.square {
  background-color: white; /* White background */
  padding-left: 0px; /* Optional: Adjust text position */
  font-size: 24px; /* Optional: Adjust font size as needed */
  cursor: pointer; /* Changes cursor to pointer on hover */
  display: flex;
  text-align: center;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

.board-row {
  display: flex; /* Displays buttons horizontally */
  flex-wrap: wrap; /* Allows buttons to wrap onto the next line */
  gap: 0px; /* Adjust the space between buttons */
  align-items: center; /* Center buttons vertically */
}



.grid-item {
  width: 100px; /* Width of each grid item */
  height: 100px; /* Height of each grid item, making it square */
  background-color: #f0f0f0; /* Light grey background for each grid item */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333; /* Text color */
  font-size: 1rem; /* Adjust the font size as needed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

